name: CI
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        ruby-version:
          - '2.5'
          - '2.6'
          - '2.7'
          # - 'head'
        gem: ['sunspot', 'sunspot_rails', 'sunspot_solr']
        update-format: ['xml', 'json']
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 1.8
      uses: actions/setup-java@v3
      with:
        java-version: '8'
        distribution: 'adopt'
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler: '1'
        bundler-cache: true # 'bundle install' and cache are handled automatically
    - name: Test
      run: ci/sunspot_test_script.sh
      env:
        GEM: ${{ matrix.gem }}
        UPDATE_FORMAT: ${{ matrix.update-format }}
